@import url('https://fonts.googleapis.com/css2?family=Audiowide&display=swap');


*{
    font-family: 'Audiowide', cursive;
    margin: 0;
    padding: 0;
}
html, body{
    width: 100%;
    height: 100%;
    
}
body{
    background-color: #000;
    position: relative;
    overflow: hidden;
}
main{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    flex-wrap: wrap;
    position: relative;
    
}
.container{
    min-width: 60%;
    min-height: 80%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    background-color: rgba(255, 255, 255, 0.6);
    border-radius: 10%;
}
.container h1{
    padding: 3%;
    -webkit-text-stroke: 1px #FFF0C6;
    font-size: 4vmax;
    text-align: center;
}
.subContainer{
    min-width: 50%;
    width: 60%;
    aspect-ratio: 1/1;
    padding-top:10% ;
    display: flex;
    flex-direction: column;
}
#Temperature{
    width: 100%;
    padding:2%;
    border-radius: 10px;
    margin-top: 2vh;
    margin-bottom: 1vh;
    font-size: 1.3vmax;
    border: none;
    background-color: rgba(255, 255, 255, 0.6);
}
#ValueInput{
    width: 98%;
    padding-top:2%;
   padding-bottom: 2%;
   padding-left: 2%;
    border-radius: 10px;
    margin-top: 2vh;
    margin-bottom: 1vh;
    font-size: 1.3vmax;
    border: none;
    background-color: rgba(255, 255, 255, 0.6);
}
#Temperature:hover{
    scale: 1.01;
}
#btn{
    background-color: rgba(255, 255, 255, 0.6);
    color: #000;
    padding: 1.1%;
    border-radius: 10px;
    cursor: pointer;
    font-size: 1.3vmax;
}
#btn:hover{
    scale: 1.01;
}
#result {
    font-size: 2.5vmax;
    -webkit-text-stroke: 1px #FFF0C6;
    text-align: center;
    margin-bottom: 5%;

}
#info h4{
    color: red;
    -webkit-text-stroke: 1px #FFF0C6;
    font-size: 2vmax;
    text-align: center;
    line-height: 8vh;
    
}
#info a{
    text-decoration: none;
    color: red;
    -webkit-text-stroke: 1px #FFF0C6;
}

/* Styling for specific videos */
video {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    opacity: 0.8;
}

/* Styling for specific videos */
#default-video {
    z-index: -1;
}

#summer-video, #auttum-video, #winter-video {
    display: none;
    z-index: -1;
}

#Temperature[value="Celsius"] ~ #default-video {
    display: none;
}

#Temperature[value="Fahrenheit"] ~ #summer-video {
    display: block;
}

#Temperature[value="Kelvin"] ~ #auttum-video {
    display: block;
}

@media (max-width:600px) {
    .subContainer{
        min-width: 70%;
        aspect-ratio: 1/1;
        padding-top:10% ;
        display: flex;
        flex-direction: column;
    }
}


