@import url('https://fonts.googleapis.com/css2?family=Audiowide&display=swap');


*{
    font-family: 'Audiowide', cursive;
    margin: 0;
    padding: 0;
}
main{
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
body{
    background-color: #000;
    z-index: -1;
}

.container{
    width: 70%;
    height: 70%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: rgba(255, 255, 255, 0.6);
    border-radius: 10%;
}
.container h1{
    -webkit-text-stroke: 1px #FFF0C6;
    font-size: 4.5vw;
}
.subContainer{
    width: 50%;
    height: 50vh;
    /* background-color: brown; */
    display: flex;
    flex-direction: column;
}
#Temperature,#ValueInput{
    width: 100%;
    padding:2%;
    border-radius: 10px;
    margin-top: 2vh;
    margin-bottom: 1vh;
    font-size: 1.1rem;
    border: none;
    background-color: rgba(255, 255, 255, 0.6);
}
#btn{
    background-color: rgba(255, 255, 255, 0.6);;
    color: #000;
    padding: 10px 10px;
    border-radius: 10px;
    cursor: pointer;
    font-size: 1.05rem;
}
#result {
    font-size: 2.5vw;
    -webkit-text-stroke: 1px #FFF0C6;

}
footer{
    position: absolute;
    width: 100%;
    display: flex;
    justify-content: center;
    margin-bottom: 1vh;
}
footer h4{
    color: red;
    -webkit-text-stroke: 1px #FFF0C6;
    font-size: 2em;
}
footer a{
    text-decoration: none;
    color: red;
    -webkit-text-stroke: 1px #FFF0C6;
}

/* Styling for specific videos */
video {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    opacity: 0.8;
}

/* Styling for specific videos */
#default-video {
    z-index: -1;
}

#summer-video, #auttum-video, #winter-video {
    display: none;
    z-index: -1;
}

#Temperature[value="Celsius"] ~ #default-video {
    display: none;
}

#Temperature[value="Fahrenheit"] ~ #summer-video {
    display: block;
}

#Temperature[value="Kelvin"] ~ #auttum-video {
    display: block;
}
